body.application.welcome {
  #main-banner {
    @extend .jumbotron;
    background-image: asset-url('banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #111;

    max-height: 512px;
    margin-top: 20px;

    h1     { font-weight: bold; }
    h2, h3 { font-weight: normal; }
    h1, h2, h3, p {
      text-align: center;
      color: #FFF;
    }

    form {
      margin-top: 6rem;
      text-align: center;
      input { font-size: 2rem; }
      .btn  { margin-left: 6px; }
    }
  }
}
