body.application.welcome {
  #main-banner {
    @extend .jumbotron;
    background-image: asset-url('banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #111;

    max-height: 512px;
    margin-top: 20px;
  }
}
